.judul {
    background-color: #007bff; /* Warna biru */
    color: white;
    padding: 15px;
    height:12vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    font-size: 20px;
}
.container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-row {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

label {
    margin-right: 10px;
    flex: 1;
    font-weight: bold;
}

input, select {
    flex: 2;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

input[disabled] {
    background-color: #f0f0f0;
}

.form-row button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-row button:hover {
    background-color: #218838;
}